  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B19RP0NKLF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B19RP0NKLF');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="{{ site.canonical }}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/_assets/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/_assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/_assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_assets/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/icons/site.webmanifest">

    <title>{{ title }} - {{ site.siteTitle }}</title>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "@id": "{{ data.url }}#main",
        "givenName": "Michael",
        "familyName": "Champlin",
        "alternateName": "mjchamplin",
        "description": "Product Designer + Researcher",
        "email": "mjchamplin@gmail.com",
        "image": "https://i.ibb.co/Ycn0cgV/headshot.jpg",
        "jobTitle": "Product Designer",
        "sameAs" : [
          "https://github.com/mjchamplin",
          "https://mastodon.cc/mjchamplin"
        ] 
      }
    </script>

    <meta name="description" content="{{ description }}">
    <meta name="application-name" content="{{ site.siteTitle }}">
    <meta name="author" content="{{ site.author }}">

    <meta property="og:site_name" content="{{ site.siteTitle }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ site.canonical }}{{ page.url }}">
    <meta property="og:description" content="{{ description }}">

    {% if thumbnail %}
      <meta property="og:image" content="{{ thumbnail }}">
    {% else %}
      <meta property="og:image" content="{{ data.url }}/_assets/img/share-preview.jpg">
    {% endif %}
    <meta property="og:image:alt" content="{{ description }}">

    <!-- Ionicons -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="/_assets/css/main.css">
  </head>