<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="{{ site.siteTitle }}">

<link rel="canonical" href="{{ site.canonical }}">

<title>{{ title }} - {{ site.siteTitle }}</title>

<meta name="description" content="{{ description }}">

<meta name="application-name" content="{{ site.siteTitle }}">

<!-- Icons, platform-specific theme stuff, etc.: -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icon-152.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icon-120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icon-114.png">

<meta name="msapplication-TileImage" content="/_assets/img/icon-144.png">

<meta name="theme-color" content="#12073f">

<link rel="icon" type="image/png" href="/_assets/img/icon-32.png" sizes="32x32">

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "{{ data.url }}#main",
    "givenName": "Michael",
    "familyName": "Champlin",
    "alternateName": "mjchamplin"
    "description": "Product Designer + Researcher",
    "email": "mjchamplin@gmail.com",
    "image": "https://i.ibb.co/Ycn0cgV/headshot.jpg",
    "jobTitle": "Product Designer",
    "sameAs" : [
      "https://github.com/mjchamplin",
      "https://mastodon.cc/mjchamplin"
    ] 
  }
</script>

<meta property="og:site_name" content="{{ site.siteTitle }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ site.canonical }}{{ page.url }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ data.url }}/_assets/img/card.gif">
<meta property="og:image:alt" content="{{ description }}">

<meta name="author" content="{{ site.author }}">
<link rel="stylesheet" href="/_assets/css/main.css">