---
title: My default title
---

<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ title }}</title>
</head>
<body>
  <main id="moo" class="full-width {{ title | downcase }}">
    <header id="header">
      <div id="wordmark"><a href="/">Michael Champlin</a></div>
      <nav id="top-navigation">
        <ul>
          <li class="active"><a href="/work">Work</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/resume">Resume</a></li>
        </ul>
      </nav>
    </header>
    {{ content }}
  </main>
  <footer>
    <small>A website by {{ site.author }} - &copy; {{ site.copyrightYear }} - <a href="#">colophon</a></small>
  </footer>
</body>
</html>
